a{
  color: #FF6060;
  font-size: 24px;
  font-weight: 500;
}

.image_kasa{
  margin-left: 3%;
}

.liens{
  position: absolute;
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
  gap: 2em;
  right: 10%;

}

.liens_header{
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3%;
}